# Ambientes virtuais Python
.venv/
venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Configuração de pasta do KDE/Linux
.directory

# Sistema
.DS_Store

# Material de curso (apostilas pesadas, não versionar)
aulas_hashtag/**/*.pdf
